{% extends "base.twig" %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_base }}index.php">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ url_base }}index.php?controller=InfoProyect">Titulo: "Nombre del Proyecto"</a></li>
    <li class="breadcrumb-item active" aria-current="page">idObs</li>
    </ol>
</nav>

<h1>Editar Observacion</h1>

<div class="card">
  <div class="card-header">
    Observacion
  </div>
  <div class="card-body">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Respuesta</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>With supporting text below as a natural lead-in to additional content.</td>
          </tr>
        </tbody>
      </table>

      <div class="form-group">
        <label for="exampleFormControlSelect1">Estado</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option value="3">-- Selecciona --</option>
          <option value="0">No levantado</option>
          <option value="1">Levantado</option>
        </select>
      </div>

      <a href="#" class="btn btn-primary">Levantar</a>
      <a href="{{ url_base }}index.php?controller=InfoProyect" class="btn btn-secondary">Cancelar</a>
  </div>
</div>


{% endblock %}

{% block scripsts %}

{% endblock %}
